<nav>
    <div class = "logo">
        <h1>CampusKart</h1>

    </div>
    <ul>
        <li>
            <a routerLink = "/">Home</a>
        </li>
        <li>
            <a routerLink = "/products">Products</a>
        </li>
        <li>
            <a routerLink = "/add-product">Add Product</a>
        </li>
        <li>
            <a routerLink = "/chat">Chat</a>
        </li>
    </ul>

    <div class = "auth">
        <button routerLink = "/login">Login</button>
        <button routerLink = "/register">Register</button>
    </div>
</nav>