.navbar{
    position:sticky;
    top:0;
    z-index:1000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:rgba(255,255,255,.8);
    backdrop-filter:blur(12px);
    border-bottom:1px solid var(--border);
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:28px;
    font-weight:700;
    color:var(--primary);
}
.logo i{
    font-size:32px;
}
.search-box{
    position:relative;
    width:350px;
}
.search-box i{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
    color:#777;
}
.search-box input{
    padding-left:45px;
}
.nav-links{
    display:flex;
    gap:30px;
    list-style:none;
}
.nav-links a{
    text-decoration:none;
    color:var(--text);
    font-weight:500;
    transition:.3s;
}
.nav-links a:hover{
    color:var(--primary);
}
.nav-icons{
    display:flex;
    gap:22px;
}
.nav-icons i{
    font-size:22px;
    cursor:pointer;
    transition:.3s;
}
.nav-icons i:hover{
    color:var(--primary);
    transform:scale(1.15);
}
@media(max-width:992px){
.search-box{
    display:none;
}
.nav-links{
    display:none;
}
}