<section class="hero section">
    <div class="hero-content">
        <span class="badge">
            🚀 AI Powered Marketplace
        </span>
        <h1>
            Buy & Sell Used Products
            <span>Inside LPU Campus</span>
        </h1>
        <p>
            Buy books, laptops, bicycles, furniture, electronics
            and more from verified LPU students.
        </p>
        <div class="hero-buttons">
            <button class="btn btn-primary">
                Explore Products
            </button>
            <button class="btn btn-secondary">
                Sell Product
            </button>
        </div>
        <div class="hero-stats">
            <div>
                <h2>5000+</h2>
                <p>Products</p>
            </div>
            <div>
                <h2>30000+</h2>
                <p>Students</p>
            </div>
            <div>
                <h2>1000+</h2>
                <p>Deals</p>
            </div>
        </div>
    </div>
    <div class="hero-image">
        <img src="/images/hero.png" alt="CampusKart">
    </div>
</section>