<section class="cta-section">
  <div class="cta-inner">
    <div class="cta-search-row">
      <div class="cta-search-box">
        <i class="bi bi-search"></i>
        <input
          class="cta-input"
          type="text"
          placeholder="Search books, laptops, cycles…">
        <select class="cta-select">
          @for(category of categories; track category){
            <option>{{category}}</option>
          }
        </select>
        <button class="cta-btn">
          Search
        </button>
      </div>
    </div>
  </div>
</section>